*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(135deg,
     #00dffc, #ff0000, #bbff00, #52dd02, #fd493c,
     #4583f5, #2da595);
     background-size: 500%;
     animation: fanimado 10s infinite;
}

@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.top-container{
    margin: 8px;
    border-radius: 20px;
    background: #ed1c23;
}

.top-container ul li{
    display: inline-block;
}

.top-container u li a img:hover{
    transition: 1s;
    scale: 1.1;
}

.containers{
    width: auto;
    margin: 8px;
    height: 900px;
    border-radius: 30px;
    background: #ed1c2379;
}

.container0{
    margin: 8px;
    width: auto;
    height: 120px;
    background: rgba(223, 139, 42, 0.555);
    border-radius: 28px;
}

.container0 ul li{
    display: inline-block;
}

.container0 ul li img{
    margin: 8px;
    border-radius: 12px;
    transition: .5s;
}

.container0 ul li img:hover{
    border-radius: 40px;    
    transition: 1s;
    scale: 1.4;
}

.containers iframe{
    border-radius: 12px;
    border: 8px;
}

.containers h2{
    color: white;
}

.redes-container{
    margin: 8px;
    border-radius: 12px;
    background: greenyellow;
    width: auto;
}